@media all and (min-width: 700px) {
    .bodydiv {
        width: 100%;
        height: 100%;
    }

    body {
        background-image: url("src/achtergrond3.png");
        font-family: 'Roboto Condensed', sans-serif;
        height: 280vh;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        position: relative;
        margin: auto;
    }

    /*HEADER CSS*/
    .header {
        font-family: 'Proxy 1', sans-serif;
        background-color: black;
        color: white;
        padding: 0;
        width: 100%;
        text-align: center;
        border: none;
        outline: none;
        transition: 1.0s;
        height: 14%;
        display: flex;
        position: fixed;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;
        cursor: default;
        text-decoration: none;
        /*Het item dat je wilt dat overlapt moet een hogere z-index hebben*/
        z-index: 1200;
    }

    .header img {
        padding-top: 1%;
        width: 250px;
    }

    .header a {

        color: white;
        text-align: center;
        text-decoration: none;
        margin-top: 0.8%;
        font-size: 160%;


    }

    .header a:hover {
        color: black;
    }

    .active, .header:hover {
        background-color: rgb(175, 130, 24);
        height: 14%;
        color: black;
    }

    .headerkopje {
    }

    /*        */
    .middletop {
        height: 5%;
    }


    .middlestretch {
        align-self: center;
        background-color: rgb(175, 130, 24);
        width: 1%;
        height: 20%;
        position: absolute;
        margin-left: 500px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .middleleft {
        display: flex;
        width: 40%;
        height: 20%;
        background-color: black;
        /*border-radius: 0px 20px 500px 0px;*/

    }

    .middleleft p {
        align-self: center;
        height: 20%;
        color: rgb(175, 130, 24);
        text-align: center;
        width: 100%;
        font-size: 40px;
        font-family: 'Didact Gothic', sans-serif;
        margin-right: 100px;
    }


    /*}*/
    .middleright {
        display: flex;
        width: 40%;
        height: 20%;
        background-color: black;
        /*border-radius: 20px 0px 0px 500px;*/
        float: right;
    }

    .middleright p {
        align-self: center;
        height: 20%;
        color: rgb(175, 130, 24);
        text-align: center;
        width: 100%;
        font-size: 40px;
        font-family: 'Didact Gothic', sans-serif;
    }


    /*DROPDOWN MENU'S !*/
    /*                */
}